.footer {
    position: absolute;
    bottom: 2%;
    box-sizing: border-box;
    height: 6vh;
    width: 100%;
    text-align: right;
}

.footer button {
    color: #a8aeb8;
    margin: 0 20px; /* Removed the extra 0 at the end */
    height: 30px;
    border-radius: 20px;
    width: 170px;
    background-color: #1b191933;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.footer button:hover {
    background-color: #3333;
}

.pencil {
    margin: 0 15px 0 5px;
}

@media (max-height: 325px) { /* Changed max-width to max-height */
    .footer {
        height: 10vh;
    }
    .footer button {
        margin: 0 20px 10px; /* Adjusted margin properties */
    }
}
