.header{
    height: 10%;
    background-color: #3333;
    display: flex;
    justify-content: flex-end;
}

.navbar{
    display: flex;
    height: 90%;
    width: 250px;
    margin: auto 5px;
    /* background-color: red; */
    right: 10px;
}

.navbar .text,
.navbar .icons{
    display: flex;
    justify-content: space-between;
    height: 90%;
    margin: auto;
    width: 50%;
    padding-top: 6px;
    color: white;
    /* background-color: #333333; */
}
a:hover{
    text-decoration: underline;
}
.links{
    margin: 0 5px;
}
.emoticons{
    margin: 0 auto;  
}

.apps{
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    transition: background-color 100ms ease-in;
    cursor: pointer;
    :hover{
        background-color: #6a6868;
    }
}
.avatar{
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 100ms ease-in;
    :hover{
        background-color: #6a6868;
    }
}


@media (max-width:550px){
    .text,
    .icons{
        display: none;
        background-color: black;
    }
}